%nav.vertical_menu 
  %menu
    %li{:class=> "active"}  
      %a{:href => ""} Все отзывы
    %li 
      %a{:href => ""} Положительные
    %li 
      %a{:href => ""} Отрицательные
    %li 
      %a{:href => ""} Мои