%h3 
  Адреса:
  %a.btn.green{:href => "#", :class=> "add-address"} Добавить адрес 
%form{:action => ""} 
  .form.addresses-form.editable
    .form-row 
      .field
        %strong.label Город:
        %span.value Москва
        %strong.label Корпус:
        %span.value 12
    .form-row 
      .field
        %strong.label Ближайшее метро:
        %span.value Сокол
        %strong.label Подъезд:
        %span.value 12
    .form-row 
      .field
        %strong.label Улица:
        %span.value Сокол
        %strong.label Квартира:
        %span.value 12
    .form-row 
      .field
        %strong.label Дом:
        %span.value 12
        %strong.label Этаж:
        %span.value 12
    .edit-this 
      %span.anchor Редактировать
    
