.top-control-block
  -#= render 'layouts/horizontal_menu'
.content-full 
  = render 'information_form'
  = render 'addresses_form'
  = render 'information_form_edit'
  = render 'addresses_form_edit'