.content-full
  %form{:action => ""}
    .password-recovery 
      %h3 Смена пароля
      .form
        .form-row 
          .label 
            %label{:for => ""}  Старый пароль:
          .field 
            %input.input-text{:type => "text"}/ 
        .form-row 
          .label 
            %label{:for => ""}  Новый пароль:
          .field 
            %input.input-text{:type => "text"}/ 
        .form-row 
          .label 
            %label{:for => ""}  Подтвердите пароль:
          .field 
            %input.input-text{:type => "text"}/ 
        .form-row
          .actions
            %input.btn.green{:type => "submit", :value => "Сохранить"}/ 
.content-full
  %form{:action => ""}
    .password-recovery 
      %h3 Смена пароля
      .form
        .form-row 
          .label 
            %label{:for => ""}  Новый пароль:
          .field 
            %input.input-text{:type => "text"}/ 
        .form-row 
          .label 
            %label{:for => ""}  Подтвердите пароль:
          .field 
            %input.input-text{:type => "text"}/ 
        .form-row
          .actions
            %input.btn.green{:type => "submit", :value => "Сохранить"}/ 