%form{:action => ""} 
  %input.search-box{:type => "text", :placeholder => "Поиск"}/ 
  %nav.vertical_menu 
    %menu 
      %li 
        %a{:href => ""} Основные
      %li 
        %a{:href => ""} Информация и SEO
      %li 
        %a{:href => ""} Филиалы
      %li 
        %a{:href => ""} Настройки зон доставки