.btn{
padding: 7px $pd*2;
@include border-radius(4px);
@include box-shadow(inset 0 -2px rgba(0,0,1,.4), inset 0 0 0 rgba(#fff,0));
position: relative;
text-transform: uppercase;
color: #fff;
@include text-shadow(0 -1px rgba(0,0,0,.25));
@extend %bb;
cursor: pointer;
@include trans(0.3s);
@extend %noselect;
font-size: 11px;
font-weight: bold;
display: inline-block;
border: 0;
text-decoration: none;
  &:hover{
  @include box-shadow(inset 0 -2px rgba(0,0,1,.4), inset 0 0 100px rgba(#fff,0.15));
  }
  &:active{
  @include box-shadow(inset 0 2px 1px rgba(1,1,1,.8), inset 0 0 100px rgba(#000,0.05));
  }
  &.green{
  background-color: $green_light;
  @include background-image(linear-gradient(top, $green_light, #719d03))
  }
  &.grey{
  background-color: #d7d7d7;
  @include background-image(linear-gradient(top, #d7d7d7, #bababa))
  }
  &.orange{
  background-color: #f29e24;
  @include background-image(linear-gradient(top, #f29e24, #eb750e))
  }
}
.alert{
@include border-radius(4px);
background-color: rgba(#d53e26, 0.14);
border: solid 1px #d53e26;
padding: 7px $pd;
color: $black_middle;
display: inline-block;
vertical-align: middle;
@extend %bb;
}