$orange_heavy: #f03214;
$orange_middle: #f07800;
$orange_light: #f08c14;

$green_heavy: #32a019;
$green_middle: #789600;
$green_light: #8cb406;

$black_heavy: #333333;
$black_middle: #666666;
$black_light: #999999;

$window: 1000px;
$window-large: 1280px;

$piece: 10px;

// Default padding unit
$pd: 10px;
