%form{:action => ""} 
  %input.search-box{:type => "text", :placeholder => "Поиск"}/ 
  %nav.vertical_menu.multilevel 
    %menu 
      %li 
        %a{:href => ""} Популярное
      %li{:class => "with-submenu"}
        %a{:href => ""} Суши
        %menu 
          %li{:class => "active"} 
            %a{:href => ""} Традиционные
          %li 
            %a{:href => ""} Теплые
          %li 
            %a{:href => ""} Спринг
      %li 
        %a{:href => ""} Сашими
      %li{:class => "with-submenu open"} 
        %a{:href => ""} Роллы
        %menu 
          %li{:class => "active"} 
            %a{:href => ""} Традиционные
          %li 
            %a{:href => ""} Теплые
          %li 
            %a{:href => ""} Спринг
      %li 
        %a{:href => ""} Сеты
      %li 
        %a{:href => ""} Салаты
      %li 
        %a{:href => ""} Закуски
      %li 
        %a{:href => ""} Супы
      %li 
        %a{:href => ""} Горячее
      %li 
        %a{:href => ""} Шашлычки
      %li 
        %a{:href => ""} Теппан
      %li 
        %a{:href => ""} Десерты
      %li 
        %a{:href => ""} Соусы
      %li 
        %a{:href => ""} Детское
      %li 
        %a{:href => ""} Напитки безалкогольные
      %li 
        %a{:href => ""} Пиво бочковое
      %li 
        %a{:href => ""} Пиво бутылочное