%footer.footer
  .footer-menu
    .inner-content
      .row 
        .col
          .col-content
            %ul
              %li
                %a{:href => ""} Компания
              %li
                %a{:href => ""} Раздел для партнеров
              %li
                %a{:href => ""} Контакты 
        .col
          .col-content
            %ul
              %li
                %a{:href => ""} Доставка пиццы
              %li
                %a{:href => ""} Доставка суши
              %li
                %a{:href => ""} Доставка еды
              %li
                %a{:href => ""} Метро
              %li
                %a{:href => ""} Районы
        .col
          .col-content
            %a{:href => "", :class => "link-with-icon"} 
              %span.icon 
                = image_tag("/images/theme/bonus.png")
              %span.link Бонусы за баллы
        .col
          .col-content
            %a{:href => "", :class => "link-with-icon"} 
              %span.icon 
                = image_tag("/images/theme/blog.png")
              %span.link Блог сервиса
        .col
          .col-content
            %a{:href => "", :class => "link-with-icon"} 
              %span.icon 
                = image_tag("/images/theme/company.png")
              %span.link Информация о компании

  .bottom 
    .inner-content 
      .copyrights
        %a{:href => ""} Пользовательское соглашение
        %strong 2013 &copy; Order club
        %a{:href => ""} Все права защищены
      .socials
        %p Мы в социальных сетях
        %a{:href => ""} 
          %span.icon.vk
        %a{:href => ""} 
          %span.icon.ok
        %a{:href => ""} 
          %span.icon.fb
        %a{:href => ""} 
          %span.icon.tw
        %a{:href => ""} 
          %span.icon.lj
.button-to-top 